<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- 优先从环境变量中取值 -->
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    </bean>
	<!--i18n -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:i18n/messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="fallbackToSystemLocale" value="false" />
	</bean>

	<!-- validator -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<context:component-scan base-package="com.maoshen" />
	<context:annotation-config />
<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/maoshen" />
		<property name="username" value="root" />
		<property name="password" value="jdxjdx100424" />
	</bean>
-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">  
        <property name="driverClass" value="com.mysql.jdbc.Driver" />  
        <property name="jdbcUrl" value="jdbc:mysql://localhost:4417/maoshen" />  
        <property name="user" value="root" />  
        <property name="password" value="jdxjdx100424" />  
        <property name="initialPoolSize" value="30" />  
        <property name="minPoolSize" value="20" />  
        <property name="maxPoolSize" value="100" />  
        <property name="acquireIncrement" value="10" />  
        <property name="maxIdleTime" value="60" />  
        <property name="maxStatements" value="0" />  
        <property name="idleConnectionTestPeriod" value="60"/>
        <property name="breakAfterAcquireFailure" value="true"/>
    </bean>  	
<!-- mysql人手实现主从读写分离 -->
<!--  
	<bean id="masterDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/maoshen" />
		<property name="username" value="root" />
		<property name="password" value="jdxjdx100424" />
	</bean>

	<bean id="slaveDataSource2" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/maoshen2" />
		<property name="username" value="root" />
		<property name="password" value="jdxjdx100424" />
	</bean>
	<bean id="slaveDataSource3" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/maoshen3" />
		<property name="username" value="root" />
		<property name="password" value="jdxjdx100424" />
	</bean>
	<bean id="slaveDataSource4" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/maoshen4" />
		<property name="username" value="root" />
		<property name="password" value="jdxjdx100424" />
	</bean>
	<bean id="dataSource" class="com.maoshen.db.ReplicationDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="master" value-ref="masterDataSource" />
				<entry key="slave2" value-ref="slaveDataSource2" />
				<entry key="slave3" value-ref="slaveDataSource3" />
				<entry key="slave4" value-ref="slaveDataSource4" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="masterDataSource" />
	</bean>

	<bean id='replicationDataSourceAspect' class="com.maoshen.db.ReplicationDataSourceAspect">
	</bean>

	<aop:config>
		<aop:aspect id="c" ref="replicationDataSourceAspect">
			<aop:pointcut id="mapperTx"
				expression="execution(* com.maoshen.*.service.*.*(..))" />
			<aop:before pointcut-ref="mapperTx" method="before" />
		</aop:aspect>
	</aop:config>
-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.maoshen.**.dao" />
        <property name="sqlSessionFactoryBeanName" value="myBatisSqlSessionFactory" />
        <property name="annotationClass" value="org.springframework.stereotype.Repository" />
    </bean>
    <bean id="myBatisSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath*:mapper/*Mapper.xml" />
    </bean>


	<!-- jedis pool配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">

	</bean>
	<bean id="jedisFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="usePool" value="true" />
		<property name="hostName" value="127.0.0.1" />
		<property name="password" value="" />
		<property name="port" value="6379" />
		<constructor-arg index="0" ref="jedisPoolConfig" />
	</bean>
	<!-- spring data redis -->
	<bean id="jedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisFactory" />
		<property name="keySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
		<property name="hashKeySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
	</bean>

	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<prop key="kaptcha.border">no</prop>
						<prop key="kaptcha.border.color">105,179,90</prop>
						<prop key="kaptcha.textproducer.font.color">black</prop>
						<prop key="kaptcha.image.width">250</prop>
						<prop key="kaptcha.textproducer.font.size">60</prop>
						<prop key="kaptcha.image.height">90</prop>
						<prop key="kaptcha.session.key">code</prop>
						<prop key="kaptcha.textproducer.char.length">5</prop>
						<prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>

<!-- redis 集群 -->
<!-- 
	<bean id="jedisPoolConfig1" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="30" />
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="10" />
		<property name="blockWhenExhausted" value="true"></property>
		<property name="maxWaitMillis" value="3000" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="testWhileIdle" value="false" />
	</bean>
	<bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
		<constructor-arg index="0">
			<set>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg index="0" value="10.199.192.151" />
					<constructor-arg index="1" value="7001" type="int" />
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg index="0" value="10.199.192.151" />
					<constructor-arg index="1" value="7002" type="int" />
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg index="0" value="10.199.192.151" />
					<constructor-arg index="1" value="7003" type="int" />
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg index="0" value="10.199.192.151" />
					<constructor-arg index="1" value="7004" type="int" />
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg index="0" value="10.199.192.151" />
					<constructor-arg index="1" value="7005" type="int" />
				</bean>
				<bean class="redis.clients.jedis.HostAndPort">
					<constructor-arg index="0" value="10.199.192.151" />
					<constructor-arg index="1" value="7006" type="int" />
				</bean>
			</set>
		</constructor-arg>
		<constructor-arg index="1" value="15000" type="int"></constructor-arg>
		<constructor-arg index="2" ref="jedisPoolConfig1"></constructor-arg>
	</bean>-->

</beans>


